.fcontainer{
  display: flex;
  border: 2px solid grey;
  margin-bottom: 10px;

}


.f1container{
    display: flex;
    border: 2px solid grey;
    flex-direction: column;
  }

.fitem{
    background-color: red;
    border: 2px solid black;
    margin: 12px;
    width: 125px;
    height: 125px;
}