.fcontainer{
    display: flex;
    border: 2px solid grey;
    margin-bottom: 10px;
    justify-content: center;
  }
  
  .fitem{
      background-color: red;
      border: 2px solid black;
      margin: 12px;
      width: 125px;
      height: 125px;
  }

  .justify-content-end-container{
    display: flex;
    border: 2px solid grey;
    margin-bottom: 10px;
    justify-content:flex-end;
  }
  
  .justify-content-end-item{
      background-color: green;
      border: 2px solid black;
      margin: 12px;
      width: 125px;
      height: 125px;
  }

  .justify-content-start-container{
    display: flex;
    border: 2px solid grey;
    margin-bottom: 10px;
    justify-content:flex-start;
  }
  
  .justify-content-start-item{
      background-color: orange;
      border: 2px solid black;
      margin: 12px;
      width: 125px;
      height: 125px;
  }
  